<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="browser" value="chrome" />
    <test verbose="2"  name="Blog Feature Test">
        <classes>
            <class name="tests.PlaceHolderTest" />
            <class name="tests.SuccessfulSubscriptionTest" />
            <class name="tests.EmailFormatTest" />
            <class name="tests.EmptyFieldTest" />
        </classes>
    </test>
</suite>
